<?xml version="1.0" encoding="utf-8"?>

<plugin id="com.imgtec.shortpdf">
	<require plugin="org.dita.pdf2"/>
	<feature extension="dita.conductor.transtype.check" value="shortpdf"/>
	<feature extension="dita.transtype.print" value="shortpdf"/>
	<feature extension="dita.conductor.target.relative" file="build.xml"/>
	
</plugin>
